

<%- include('header') -%>
<%- include('navbar') -%>

<div class="container">
    <h2>Kezdőoldal</h2>
    <p>Itt található az intézmény kulcs nyilvántartó és foglaltságjelző felülete. Ha bejelentkeztél, módosíthatod az értékeket.</p>
</div>


<%- include('footer') -%>
