
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="/">Foglaltság és kulcs nyilvántartó</a>
        </div>
        <ul class="nav navbar-nav">
            <li id="sum" style="display: none"><a href="./sum">Összegző</a></li>
            <li id="users"><a href="./member">Felhasználók</a></li>
            <li id="doorsandkeys"><a href="./doorandkey">Ajtók és kulcsok</a></li>
            <li id="usersandkeys"><a href="./memberandkey">Felhasználókhoz rendelt kulcsok</a></li>
            <li id="usersandkeyssum"><a href="./memberandkeysum">FRKS</a></li>
            <li id="timelock"><a href="./timelock">Foglaltság beállítása</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="./login"><span class="glyphicon glyphicon-log-in"></span> Bejelentkezés</a></li>
        </ul>
    </div>
</nav>

