<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="/logins/index">Foglaltság és kulcs nyilvántartó</a>
        </div>
        <ul class="nav navbar-nav">
            <!--<li class="active"><a href="./index.html">Kezdőoldal</a></li>-->
            <li id="sum" style="display: none"><a href="/logins/sum">Összegző</a></li>
            <li id="users"><a href="/logins/users">Felhasználók</a></li>
            <li id="doorsandkeys"><a href="/logins/doorsandkeys">Ajtók és kulcsok</a></li>
            <li id="usersandkeys"><a href="/logins/usersandkeys">Felhasználókhoz rendelt kulcsok</a></li>
            <li id="timelock"><a href="/logins/timelock">Foglaltság beállítása</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logins/logout"><span class="glyphicon glyphicon-log-out"></span> Kijelentkezés</a></li>
        </ul>
    </div>
</nav>
